configuration {
  display-drun: " ";
  display-window: "󰖲 ";
  display-filebrowser: "󰉋 ";
  display-recursivebrowser: "󰈔 ";
  drun-display-format: "{name}";
  font: "NotoSans Nerd Font Medium 12";
  show-icons: true;
}

// @theme "theme.rasi"

@theme "/home/mayank/.local/share/rofi/themes/squared-nord.rasi"
