configuration {
  display-drun: " ";
  display-window: "󰖲 ";
  display-filebrowser: "󰉋 ";
  display-recursivebrowser: "󰈔 ";
  drun-display-format: "{name}";
  font: "NotoSans Nerd Font Medium 12";
  show-icons: true;
}

// @theme "theme.rasi"

@theme "squared-nord.rasi"

entry {
  cursor-width: 0;
  placeholder-color: "#888888";
}
