* {
    bg0:     #111111;
    bg1:     #15161e;
    fg0:     #a9b1d6;

    accent-color:     #7dcfff;
    urgent-color:     #f7768e;

    background-color:   transparent;
    text-color:         @fg0;

    margin:     0;
    padding:    0;
    spacing:    4;

    border-radius: 10px;
}

window {
    location:   south east;
    width:      300;
    margin: 0 4px 4px 0;
    children: [ listview, inputbar];

    background-color:   transparent;
}

inputbar {
    background-color:   transparent;
}

prompt, entry, element-icon, element-text {
    vertical-align: 0.5;
}
entry {
    text-color: @bg0;
    background-color: #c0caf5;
    border: 0px;
    border-color: @bg1;
    margin: 0 -10 0 0;
    padding: 16px;
}
prompt {
    padding:   16px; 
    background-color: #bb9af7;
    text-color: @bg0;
    border: 0px;
    border-color: @bg1;
}

textbox {
    padding:  8px;
}

listview {
    padding:    0;
    margin: 0 0 0 55px;
    lines:      8;
    columns:    1;
    spacing:    0;
    reverse: true;

    fixed-height:   false;
    border-radius: 10px;
    border: 2px;
    border-color: @accent-color;
}

element {
    spacing:    8px;
    padding:    10px 8px 10px 13px;
    background-color:   @bg1;
    border-radius: 0px;
}

element normal normal {
    text-color: @fg0;
}

element normal urgent {
    text-color: @urgent-color;
}

element normal active {
    text-color: @accent-color;
}

element alternate active {
    text-color: @accent-color;
}

element selected, element selected normal, element selected active {
    text-color: @bg0;
    background-color:   @accent-color;
}

element selected urgent {
    background-color:   @urgent-color;
}

element-icon {
    padding: 0px 0px 0px 5px;
    size:   0.7em;
}

element-text {
    text-color: inherit;
}
