* {
background: #1a1b26;
foreground: #c0caf5;

color0: #15161e;
color1: #f7768e;
color2: #9ece6a;
color3: #e0af68;
color4: #7aa2f7;
color5: #bb9af7;
color6: #7dcfff;
color7: #a9b1d6;

color8: #414868;
color9: #f7768e;
color10: #9ece6a;
color11: #e0af68;
color12: #7aa2f7;
color13: #bb9af7;
color14: #7dcfff;
color15: #c0caf5;


    background-color:      Black;
    border-color:          White;
    text-color:           White;
    border-radius: 10px;

}
/**
 * ROFI Color theme
 * User: Qball
 * Copyright: Dave Davenport
 */

window {
    anchor:     south;
    location:   south;
    width:      20%;
    padding:    9px;
    children:   [ horibox ];
}
horibox {
    orientation: horizontal;
    children:   [ prompt, entry, listview];
    spacing: 5px;
}
listview {
    layout:     horizontal;
    spacing:    5px;
    lines:      1;
}
entry {
    expand:     false;
    placeholder: "Applications";
    width:      10em;
}
element {
    padding: 0px 2px;
}
element selected {
    background-color: SteelBlue;
}

element-text, element-icon {
  background-color: inherit;
  text-color: inherit;
}
